body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://rokmrhar.github.io/maze/26161959_1m1y_5wp1_220328.svg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e1f4f9;
}

h2 {
    font-size: 50px; 
    font-family: 'Passion One';
    letter-spacing: 2px;
    color: white;
    margin-top: 5%;
    text-align: center; 
}

h3 {
    font-size: 2.5rem; 
    font-family: 'Passion One';
    letter-spacing: 2px;
    margin: 3%;
    text-align: center; 
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.infos {
    position: absolute;
    top: 50%;
    left: 104%;
    transform: translateY(-39%);
    height: 700px; 
    width: 90%; 
    max-width: 300px; 
    border: 1px solid black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffef99;
    box-sizing: border-box;
}

.maze {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px; 
}

button {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.25rem; 
    text-transform: uppercase;
    padding: 10px 25px;
    font-weight: bold;
    background-color: #FFD700;
    color: #5A3E2B;
    width: 90%;
    text-align: center;
    margin: 10px 0; 
}

button:hover {
    background-color: #e6c200;
}

.info-btn, .st, .rt {
    margin-top: 10%;
    font-size: 2.5rem; 
}

.st, .rt {
    font-size: 2rem; 
}

canvas {
    max-width: 100%; 
    height: auto; 
}

/* Media queries za različne velikosti zaslonov */
@media (max-width: 1200px) {
    h2 {
        font-size: 3rem; 
    }

    h3 {
        font-size: 2rem;
    }

    .infos {
        left: 50%;
        transform: translate(-50%, -38%);
        width: 80%; 
    }

    button {
        font-size: 1rem; 
    }

    .info-btn, .st, .rt {
        font-size: 2rem; 
    }

    .st, .rt {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5rem; 
    }

    h3 {
        font-size: 1.75rem;
    }

    .infos {
        position: static;
        transform: none;
        width: 100%; 
        margin-top: 20px; 
    }

    button {
        font-size: 0.875rem; 
    }

    .info-btn, .st, .rt {
        font-size: 1.5rem;
    }

    .st, .rt {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.75rem;
    }

    .info-btn, .st, .rt {
        font-size: 1.25rem;
    }

    .st, .rt {
        font-size: 1rem;
    }
}
